.row
  .col-xs-12#sale-name
    %h1
      = @sale.name
    %p#sale-timer
      &nbsp
      
.row
  .col-md-6
    = image_tag 'vwPromotional', :width => 400, :height => 600

  .col-md-6
    .row
      .card-group
        - @sale.items.each do |item|
          .col-md-6
            .card.text-xs-center
              .card-block
                %h4.card-title
                  = item.name

              - if item.images.any?
                = image_tag item.images.first.photo.url(:small), :class => 'card-img-top'
              - else
                no Image
              .card-block
                %p.card-text
                  Hi, this is some card text, how do I look?


    .row
      %h2
        Variants

      %ul
        - @sale.sale_variants.each do |sv|
          %li
            = sv.variant.sku
            %ul
              - sv.variant.properties.each do |p|
                %li
                  = "#{p.name} = #{p.value}"

:javascript
  var PandaJuice = PandaJuice || {};

  //Takes ms since epoch of the finish date of the sale
  PandaJuice.SaleTimer = function(finishMillis) {
    var finishDate = moment(finishMillis);
    var els = {};

    this.addElement = addElement;

    function addElement(id) {
      var first = $.isEmptyObject(els);

      var $el = $(id);
      els[id] = $el;

      if(first) {
        //TODO: Add way to kill the interval once the timer gets to 0, or the element is removed
        updateView();
        this.interval = setInterval(updateView, 1000);
      }
    }

    //TODO: Make this generic. Potentially use momentjs-duration-format plugin
    function updateView() {
      str = getTimerString();

      for(var id in els) {
        els[id].html(str);
      }
    }

    //TODO: Make this not show parts which are 0
    function getTimerString() {
      var diff = finishDate - moment();
      if(diff <= 0) {
        return "0 seconds";
      }

      var dur = moment.duration(finishDate - moment());
      return dur.days() + " days, " + dur.hours() + " hours, " + dur.minutes() + " minutes, " + dur.seconds() + " seconds."
    }
  }

  $(function() {
    console.log("Document ready");
    var st = new PandaJuice.SaleTimer(#{(@sale.finish.to_f * 1000).to_i});
    st.addElement('#sale-timer');
  });
